html {}

body, h1 {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  color: #40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

.skill-row h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: left;
}

p {
  line-height: 2;
  font-size: 0.875rem;
}

hr {
  border: none;
  border-top: 6px dotted #0f4c75;
  width: 5%;
  margin:100px auto;
}

.profile-pic {
  border: 0px solid #0f4c75;
  border-radius: 100%;
}

.top-container {
  background-color: #bbe1fa;
  position: relative;
  padding-top:50px;
  margin:0 auto;
}

.profile {
  padding-top: 20px;
  margin-bottom: 50px;
}

.profile p {
  width: 25%;
  margin: 0 auto;
}

.middle-container {
  background-color: #ffffff;
  margin:0 auto;
  position: relative;
  padding-top: 50px;
}

.skills {
  margin: 100px auto;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
}

.skill-para {
  text-align: left;
}

.coding {
  width: 200px;
  margin-right: 10px;
  float: left;
}

.graphic {
  width: 200px;
  margin-left: 10px;
  float: right;
}

.contact-me {
  background-color: #e2e2e2;
  margin:0 auto;
  position: relative;
  padding: 50px 0;
}

.contact-me h2, .contact-me h3, .contact-me p {
  color: #4b6777;
}
.contact-me-discription{
  margin-bottom: 20px;
}
.bottom-container {
  background-color: #0f4c75;
  margin: 0 auto;
  position: relative;
  padding:50px 0px;
}
/*img.profile-pic::before, .profile-pic::after{
  -webkit-animation: gogoloader 2s infinite;
    -moz-animation: gogoloader 2s infinite;
    -o-animation: gogoloader 2s infinite;
    animation: gogoloader 2s infinite;
}*/
@keyframes glowing {
  0% { box-shadow: 0 0 -10px #039bff; }
  40% { box-shadow: 0 0 20px #039bff; }
  60% { box-shadow: 0 0 20px #039bff; }
  100% { box-shadow: 0 0 -10px #039bff; }
}

.button-glow {
  animation: glowing 5000ms infinite;
}
a.footer-link {
  color: #a9dbf5;
}
.bottom-container a{
  color: #a9dbf5;
  margin: 20px;
  text-decoration: none;
}
.bottom-container p {
  color: #a9dbf5;
  font-size: 0.75rem;
}

.top-colud {
  position: absolute;
  right: 10px;
  height: 115px;
}

.bottom-colud {
  position: absolute;
  left: 10px;
  height: 115px;
}
.btn {
  background: #bbe1fa;
  background-image: -webkit-linear-gradient(top, #bbe1fa, #3282b8);
  background-image: -moz-linear-gradient(top, #bbe1fa, #3282b8);
  background-image: -ms-linear-gradient(top, #bbe1fa, #3282b8);
  background-image: -o-linear-gradient(top, #bbe1fa, #3282b8);
  background-image: linear-gradient(to bottom, #bbe1fa, #3282b8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #3282b8;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0f4c75;
  background-image: -webkit-linear-gradient(top, #0f4c75, #3282b8);
  background-image: -moz-linear-gradient(top, #0f4c75, #3282b8);
  background-image: -ms-linear-gradient(top, #0f4c75, #3282b8);
  background-image: -o-linear-gradient(top, #0f4c75, #3282b8);
  background-image: linear-gradient(to bottom, #0f4c75, #3282b8);
  text-decoration: none;
}
