@use '../util/' as u;
:root {
    --bg-body: hsl(0, 0%, 8%);
    --bg-page: hsl(0, 0%, 0%);
  --bg-body2: hsl(0, 0%, 14%);
  --accent: #4ce19e;
  --text1: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 85%);
  --invalid: #ff6f5c;
  --fs-18: 1.125rem;
  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-36: 2.25rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --container: 69.375rem;
  --transition: 250ms ease-in-out;
  --typewriterSpeed:6s;
  --blinkingSpeed:750ms;
  --typewriterChar:17;
  
    --c-white: #fffdfa;
    --c-blue: #00001a;
    --c-gray: #5e607a;
    --c-red: #f15d51;
    --c-silver: #c5c6ce;
    --c-yellow: #e9aa52;
    --gradient-text:linear-gradient(to right, #f15d51, #e9aa52);
    --gradient-text-accent:linear-gradient(to right, #4ce19e, #e9aa52);
    --f-xl: #{clamp(
        u.rem(40),
        2.147887323943662rem + 1.5023474178403755vw,
        u.rem(56)
      )};
    --f-l: #{clamp(
        u.rem(32),
        1.823943661971831rem + 0.7511737089201878vw,
        u.rem(40)
      )};
    --f-m: #{u.rem(32)};
    --f-s: #{u.rem(20)};
    --f-xs: #{u.rem(18)};
    --f-body: #{u.rem(15)};
  }
html{
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-size: var(--f-body);
    background-color:var(--bg-page);
    color: hsl(0, 0%, 100%);
    line-height: 1.7;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.noscroll{
    overflow-y: hidden;
}